html, body{
	font-family: Times;
	margin: 0;
}
header{
	background-color: #78a3e8;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
}

header img{
		border-radius: 120px

}

.content{max-width: 600px;
margin: 0 auto;
padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}
p.caption{
	font-size: 16px
	color:red;
}
/*<header>
		<img src="img/profile.jpg">
		<h1>Psilocybe-subaeruginosa</h1>
</header>*/